<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ttl }}</title>
  <link type="text/css" rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>
<body>

<div class="alert alert-primary">
  <div class="container">
    <h1>{{ ttl }}</h1>
  </div>
</div>

<div class="container">
  <p>{{ msg }}</p>

    <h3>List of friends:</h3>
    <ul>
        {% for friend in friends %}
        <li>{{ friend }}</li>
        {% endfor %}
    </ul>

</div>
</body>
</html>